In [28]:
import geopandas as gpd
import pandas as pd

In [4]:
import os

In [5]:
os.getcwd()

'/home/hemmerly/CAPP/CAPP30239_FA22/Data Repo'

In [7]:
data = gpd.read_file('il.shp')

In [8]:
data.columns

Index(['geoid', 'total_pop', 'state', 'county', 'pctpov', 'pctpoc',
       'unemplrate', 'medhhinc', 'dep_ratio', 'child_perc', 'seniorperc',
       'treecanopy', 'area', 'source', 'avg_temp', 'ua_name', 'incorpname',
       'congressio', 'biome', 'bgpopdense', 'popadjust', 'tc_gap', 'tc_goal',
       'phys_hlth', 'ment_hlth', 'asthma', 'core_m', 'core_w', 'core_norm',
       'healthnorm', 'priority', 'tes', 'tesctyscor', 'geometry'],
      dtype='object')

In [14]:
data[data['incorpname'] == 'Chicago'].head()

,geoid,total_pop,state,county,pctpov,pctpoc,unemplrate,medhhinc,dep_ratio,child_perc,...,asthma,core_m,core_w,core_norm,healthnorm,priority,tes,tesctyscor,geometry,tract
133,170310101001,491.0,IL,Cook County,0.354379,0.615071,0.116608,0.0,0.423188,0.114053,...,10.8,26.8,25.4,0.483274,0.378856,0.318922,100.000000,86.349649,"POLYGON ((684154.933 2143280.299, 684134.514 2...",010100
134,170310101002,2197.0,IL,Cook County,0.664077,0.685025,0.102868,21222.0,0.498636,0.314520,...,10.8,26.8,25.4,0.483274,0.378856,0.394630,91.372429,86.349649,"POLYGON ((684132.504 2143303.481, 684134.514 2...",010100
135,170310101003,1834.0,IL,Cook County,0.235566,0.468920,0.036744,64517.0,0.171137,0.079607,...,10.8,26.8,25.4,0.483274,0.378856,0.229369,95.614850,86.349649,"POLYGON ((684575.428 2143520.395, 684579.062 2...",010100
136,170310102011,1401.0,IL,Cook County,0.408994,0.738044,0.090339,44239.0,0.310571,0.128480,...,11.0,24.2,22.9,0.380047,0.408485,0.346405,100.000000,86.349649,"POLYGON ((683239.076 2142228.002, 683207.757 2...",010201
137,170310102012,4187.0,IL,Cook County,0.567218,0.646525,0.091346,31194.0,0.466036,0.278003,...,11.0,24.2,22.9,0.380047,0.408485,0.369506,98.520506,86.349649,"POLYGON ((683499.577 2142661.624, 683506.346 2...",010201

In [19]:
data = data[data['incorpname'] == 'Chicago'].copy()

In [20]:
data.head()

,geoid,total_pop,state,county,pctpov,pctpoc,unemplrate,medhhinc,dep_ratio,child_perc,...,asthma,core_m,core_w,core_norm,healthnorm,priority,tes,tesctyscor,geometry,tract
133,170310101001,491.0,IL,Cook County,0.354379,0.615071,0.116608,0.0,0.423188,0.114053,...,10.8,26.8,25.4,0.483274,0.378856,0.318922,100.000000,86.349649,"POLYGON ((684154.933 2143280.299, 684134.514 2...",010100
134,170310101002,2197.0,IL,Cook County,0.664077,0.685025,0.102868,21222.0,0.498636,0.314520,...,10.8,26.8,25.4,0.483274,0.378856,0.394630,91.372429,86.349649,"POLYGON ((684132.504 2143303.481, 684134.514 2...",010100
135,170310101003,1834.0,IL,Cook County,0.235566,0.468920,0.036744,64517.0,0.171137,0.079607,...,10.8,26.8,25.4,0.483274,0.378856,0.229369,95.614850,86.349649,"POLYGON ((684575.428 2143520.395, 684579.062 2...",010100
136,170310102011,1401.0,IL,Cook County,0.408994,0.738044,0.090339,44239.0,0.310571,0.128480,...,11.0,24.2,22.9,0.380047,0.408485,0.346405,100.000000,86.349649,"POLYGON ((683239.076 2142228.002, 683207.757 2...",010201
137,170310102012,4187.0,IL,Cook County,0.567218,0.646525,0.091346,31194.0,0.466036,0.278003,...,11.0,24.2,22.9,0.380047,0.408485,0.369506,98.520506,86.349649,"POLYGON ((683499.577 2142661.624, 683506.346 2...",010201

In [21]:
len(data)

2179

In [22]:
data['tract'] = data['geoid'].astype(str)

In [23]:
data['tract'] = data['tract'].str[5:11]

In [24]:
data['tract'].value_counts()

460500    7
480400    7
100200    7
080100    7
150300    7
         ..
061000    1
060500    1
390100    1
381500    1
351500    1
Name: tract, Length: 801, dtype: int64

In [81]:
data2 = data.groupby('tract').mean(numeric_only=True)

In [51]:
data2.reset_index(inplace=True)

In [67]:
comm_areas = pd.read_csv('chicago_tract_comm_areas.csv')

In [69]:
comm_areas.columns = [c.lower() for c in comm_areas.columns]

In [70]:
comm_areas.head()

,stusab,sumlev,county,cousub,place,geoid2,chgoca,tract,name,notes,community area name
0,IL,80,31,14000,14000,1010100,1,10100,CA 01 Tract 010100,NaN,Rogers Park
1,IL,80,31,14000,14000,1010201,1,10201,CA 01 Tract 010201,NaN,Rogers Park
2,IL,80,31,14000,14000,1010202,1,10202,CA 01 Tract 010202,NaN,Rogers Park
3,IL,80,31,14000,14000,1010300,1,10300,CA 01 Tract 010300,NaN,Rogers Park
4,IL,80,31,14000,14000,1010400,1,10400,CA 01 Tract 010400,NaN,Rogers Park

In [71]:
comm_areas['tract'] = comm_areas['tract'].astype(str)

In [72]:
for i, row in comm_areas.iterrows():
    tract = row['tract']
    if len(tract) == 5:
        comm_areas.at[i, 'tract'] = '0' + tract

In [54]:
data2.head()

,tract,geoid,total_pop,pctpov,pctpoc,unemplrate,medhhinc,dep_ratio,child_perc,seniorperc,...,phys_hlth,ment_hlth,asthma,core_m,core_w,core_norm,healthnorm,priority,tes,tesctyscor
0,010100,1.703101e+11,1507.333333,0.418007,0.589672,0.085407,28579.666667,0.364320,0.169393,0.089342,...,11.9,13.7,10.8,26.8,25.4,0.483274,0.378856,0.314307,95.662426,86.349649
1,010201,1.703101e+11,2346.333333,0.517455,0.694466,0.060562,43121.000000,0.468981,0.231061,0.082770,...,14.0,15.7,11.0,24.2,22.9,0.380047,0.408485,0.362507,99.506835,86.349649
2,010202,1.703101e+11,1426.000000,0.595694,0.715933,0.055864,35580.000000,0.502203,0.187298,0.137807,...,13.6,13.9,10.4,27.3,24.1,0.465075,0.384304,0.387731,89.324924,86.349649
3,010300,1.703101e+11,1662.500000,0.371954,0.486640,0.043226,37826.000000,0.533128,0.134186,0.211492,...,12.0,12.4,9.7,29.9,24.8,0.529841,0.345453,0.272993,99.295067,86.349649
4,010400,1.703101e+11,1717.666667,0.369301,0.362246,0.067246,41289.333333,0.307693,0.141909,0.081670,...,8.2,14.0,9.9,30.7,27.4,0.600722,0.354968,0.253117,95.313843,86.349649

In [73]:
comm_areas.head()

,stusab,sumlev,county,cousub,place,geoid2,chgoca,tract,name,notes,community area name
0,IL,80,31,14000,14000,1010100,1,010100,CA 01 Tract 010100,NaN,Rogers Park
1,IL,80,31,14000,14000,1010201,1,010201,CA 01 Tract 010201,NaN,Rogers Park
2,IL,80,31,14000,14000,1010202,1,010202,CA 01 Tract 010202,NaN,Rogers Park
3,IL,80,31,14000,14000,1010300,1,010300,CA 01 Tract 010300,NaN,Rogers Park
4,IL,80,31,14000,14000,1010400,1,010400,CA 01 Tract 010400,NaN,Rogers Park

In [74]:
data_merged = pd.merge(data2, comm_areas, on=['tract'])

In [75]:
data_merged

,tract,geoid,total_pop,pctpov,pctpoc,unemplrate,medhhinc,dep_ratio,child_perc,seniorperc,...,stusab,sumlev,county,cousub,place,geoid2,chgoca,name,notes,community area name
0,010100,1.703101e+11,1507.333333,0.418007,0.589672,0.085407,28579.666667,0.364320,0.169393,0.089342,...,IL,80,31,14000,14000,1010100,1,CA 01 Tract 010100,NaN,Rogers Park
1,010201,1.703101e+11,2346.333333,0.517455,0.694466,0.060562,43121.000000,0.468981,0.231061,0.082770,...,IL,80,31,14000,14000,1010201,1,CA 01 Tract 010201,NaN,Rogers Park
2,010202,1.703101e+11,1426.000000,0.595694,0.715933,0.055864,35580.000000,0.502203,0.187298,0.137807,...,IL,80,31,14000,14000,1010202,1,CA 01 Tract 010202,NaN,Rogers Park
3,010300,1.703101e+11,1662.500000,0.371954,0.486640,0.043226,37826.000000,0.533128,0.134186,0.211492,...,IL,80,31,14000,14000,1010300,1,CA 01 Tract 010300,NaN,Rogers Park
4,010400,1.703101e+11,1717.666667,0.369301,0.362246,0.067246,41289.333333,0.307693,0.141909,0.081670,...,IL,80,31,14000,14000,1010400,1,CA 01 Tract 010400,NaN,Rogers Park
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
791,843500,1.703184e+11,10317.000000,0.676612,0.912571,0.016878,27891.000000,0.066246,0.037123,0.025007,...,IL,80,31,14000,14000,30843500,30,CA 30 Tract 843500,NaN,South Lawndale
792,843600,1.703184e+11,1459.000000,0.446762,0.975809,0.206137,44418.500000,0.662868,0.285963,0.110492,...,IL,80,31,14000,14000,38843600,38,CA 38 Tract 843600,NaN,Grand Boulevard
793,843700,1.703184e+11,1308.500000,0.134302,0.413706,0.039610,125834.500000,0.613862,0.289500,0.072557,...,IL,80,31,14000,14000,5843700,5,CA 05 Tract 843700,NaN,North Center
794,843800,1.703184e+11,741.000000,0.583226,0.773657,0.231230,36679.500000,0.671593,0.249731,0.151445,...,IL,80,31,14000,14000,61843800,61,CA 61 Tract 843800,NaN,New City
795,843900,1.703184e+11,704.200000,0.454275,0.951327,0.133876,33245.400000,0.514461,0.132546,0.203283,...,IL,80,31,14000,14000,42843900,42,CA 42 Tract 843900,NaN,Woodlawn

In [82]:
comm_data = data_merged.groupby('community area name').mean(numeric_only=True).reset_index()

In [84]:
comm_data.head()

,community area name,geoid,total_pop,pctpov,pctpoc,unemplrate,medhhinc,dep_ratio,child_perc,seniorperc,...,priority,tes,tesctyscor,sumlev,county,cousub,place,geoid2,chgoca,notes
0,Albany Park,1.703114e+11,1607.227273,0.420057,0.689685,0.061026,58310.327273,0.506017,0.233234,0.095154,...,0.362986,96.011481,86.349649,80.0,31.0,14000.0,14000.0,1.414047e+07,14.0,NaN
1,Archer Heights,1.703157e+11,1361.250000,0.435555,0.831384,0.083071,46192.950000,0.693833,0.283721,0.119924,...,0.453009,70.708796,86.349649,80.0,31.0,14000.0,14000.0,5.757030e+07,57.0,NaN
2,Armour Square,1.703144e+11,1683.000000,0.630942,0.842072,0.165801,28915.350000,0.826827,0.190516,0.256869,...,0.483858,73.912996,86.349649,80.0,31.0,14000.0,14000.0,3.444058e+07,34.0,NaN
3,Ashburn,1.703170e+11,1631.520833,0.294748,0.898417,0.115463,70093.604167,0.639438,0.268079,0.114072,...,0.440228,76.216062,86.349649,80.0,31.0,14000.0,14000.0,7.070034e+07,70.0,NaN
4,Auburn Gresham,1.703171e+11,991.108889,0.521142,0.994152,0.189968,34718.268889,0.686204,0.216353,0.181717,...,0.514368,78.834210,86.349649,80.0,31.0,14000.0,14000.0,7.171080e+07,71.0,NaN

In [85]:
comm_data.columns

Index(['community area name', 'geoid', 'total_pop', 'pctpov', 'pctpoc',
       'unemplrate', 'medhhinc', 'dep_ratio', 'child_perc', 'seniorperc',
       'treecanopy', 'area', 'avg_temp', 'bgpopdense', 'popadjust', 'tc_gap',
       'tc_goal', 'phys_hlth', 'ment_hlth', 'asthma', 'core_m', 'core_w',
       'core_norm', 'healthnorm', 'priority', 'tes', 'tesctyscor', 'sumlev',
       'county', 'cousub', 'place', 'geoid2', 'chgoca', 'notes'],
      dtype='object')

In [87]:
comm_data['tc_goal']

0    -1.0
1    -1.0
2    -1.0
3    -1.0
4    -1.0
     ...
72   -1.0
73   -1.0
74   -1.0
75   -1.0
76   -1.0
Name: tc_goal, Length: 77, dtype: float64

In [88]:
cols_to_drop = ['geoid', 'treecanopy', 'area', 'popadjust', 'tc_goal', 'priority', 'tesctyscor', 'sumlev',
       'county', 'cousub', 'place', 'geoid2', 'chgoca', 'notes' ]

In [90]:
comm_data.drop(columns=cols_to_drop, inplace=True)

In [91]:
comm_data.to_csv('chicago_tree_equity.csv')